<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 4 Project 3</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        /* CSS for styling the map and description */
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        #map {
            height: 400px;
            width: 80%;
            margin-bottom: 20px;
        }
        .description {
            text-align: justify;
        }
    </style>
</head>
<body>
    <h1>Pickleball Court Locations in Relation to Elderly Population</h1>
    
    <div id="map"></div>

    <div class="description">
        <h2>Description:</h2>
        <p>
            test paragraph 
        <p>
            test paragraph 2
        </p>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../static/js/getData.js"></script>
    <script src="../static/js/logic.js"></script>
</body>
</html>